<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title><%= title %> | Home </title>
    <link rel ="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1> Home Page </h1>
    <img src ="http://i.imgur.com/kvAXS1H.gif">

    </body>
  </body>
</html>
